@font-face {
    font-family: "Nutmeg";
    src: local("Nutmeg-Light"),
      url("../fonts/Nutmeg-Light.ttf") format("truetype");
  }
@font-face {
font-family: "Lato";
src: local("Lato-Regular"),
    url("../fonts/Lato-Light.ttf") format("truetype");
}
.series-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-wrapper{
        box-sizing: border-box;
        margin: 0;
        min-width: 1050px;
        color: white;
        h2{
            font-family: "Nutmeg";
        }
        p{
            font-family: "Lato";
            font-weight: 500;
        }
        .content-divisor{
            margin-top: 0.75rem;
            height: 0.25rem;
            width: 100%;
        }
        .content-divisor.left{
            background-image: linear-gradient(to left, #213944,#2abdbb);
        }
        .content-divisor.right{
            background-image: linear-gradient(to left, #fab818,#ef4323);
        }
    }
    .cards-carousel-container{
        box-sizing: border-box;
        .cards-carousel{
            display: grid;
            max-width: 1130px;
            .cards-carousel-content-wrapper{
                display: grid;
                grid-area: content;
                grid-template-areas: "viewbox";
                grid-template-columns: minmax(0,auto);
                position: relative;
                width: 100%;
                .cards-carousel-left-arrow{
                    cursor: pointer;
                    z-index: 50;
                    bottom: 0;
                    display: grid;
                    grid-area: viewbox;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 25%;
                    .img{
                        width: 40px;
                        height: 40px;   
                    }
                }
                .cards-carousel-right-arrow{
                    cursor: pointer;
                    z-index: 50;
                    left: 96.5%;
                    bottom: 0;
                    display: grid;
                    grid-area: viewbox;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 25%;
                    .img{
                        width: 40px;
                        height: 40px;
                    }
                }
                .hidden{
                    visibility: hidden;
                }
                .cards-carousel-left-arrow:hover,.cards-carousel-right-arrow:hover{
                    background-color: #23252b;
                }
                .cards-carousel-cards{
                    grid-area: viewbox;
                    box-sizing: border-box;
                    display: block;
                    .carousel-scroller{
                        overflow: hidden;
                        position: relative;
                        z-index: 1;
                        box-sizing: border-box;
                        display: block;
                        .carousel-scroller-wrapper{
                            box-sizing: initial;
                            padding: 25px;
                            padding-top: 10px;
                            display: block;
                            .carousel-scroller-track{
                                display: grid;
                                grid-auto-flow: column;
                                overflow:auto;
                                overscroll-behavior-x: none;
                                scroll-padding: 0 300px;
                                .carousel-card-wrapper{
                                    scroll-snap-align: start;
                                    box-sizing: border-box;
                                    display: block;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    cursor: pointer;
                                    .carousel-card{
                                        width: 150px;
                                        min-height: 290px;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        .img{
                                            height: 100%;
                                            width: 100%;
                                        }
                                        .carousel-info{
                                            width: 100%;
                                            p{
                                                text-align: left;
                                                margin: 0;
                                            }
                                            .card-title{
                                                box-sizing: border-box;
                                                margin-top: 5px;
                                                margin-bottom: 5px;
                                                color: white;
                                                font-family: "Lato";
                                                font-weight: 600;
                                            }
                                            .serie-state{
                                                font-family: "Lato";
                                                font-weight: 600;
                                                display: flex;
                                                flex-direction: row;
                                                margin-top: 5px;
                                                .type{
                                                    font-size: 13px;
                                                    color: #2abdbb;
                                                }
                                                .sub-dub{
                                                    margin-left: 5px;
                                                    font-size: 13px;
                                                    color: #a0a0a0;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
                                &::-webkit-scrollbar-track {
                                    background-color: transparent;
                                }
                                &::-webkit-scrollbar {
                                    width: 0px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background-color: transparent;
                                }
                                .carousel-card-wrapper:hover{
                                    background-color: #141519;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}